@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500&display=swap');

:root
{
    --fontColor: #273859;
    --highlightColor: #F2CB07;
    --backgroundColor: #F2CDA0;
    --additionalColor: #F27405;
    --structureColor: #F29C50;
    --font: 'JetBrains Mono', monospace;
    --max-width-form: 720px;
    --min-width-element: 200px;
    --max-width-element: 320px;
}

#body-container
{
    background-color: var(--backgroundColor);
}

#title
{
    text-align: center;
}

#description
{
    text-align: center;
    background-color: var(--backgroundColor);
    border-radius: 5px;
    padding: 10px;
    margin: 3px 3px;
}

.sections-container
{
    font-family: var(--font);
    color: var(--fontColor);
    border-width: 3px;
    border-style: solid;
    border-color: var(--structureColor);
    background-color: var(--structureColor);
    border-radius: 10px;
    max-width: var(--max-width-form);
    margin: 20px auto;
}

.form-section
{
    background-color: var(--backgroundColor);
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
}

.field-container
{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--additionalColor);
}

.form-section__input
{
    border-color: var(--additionalColor);
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 10px;
}

.form-section__input--number
{
    width: 63px;
}

#comments
{
    border-color: var(--additionalColor);
    min-width: var(--min-width-element);
    min-height: 120px;
    max-height: 426px;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

#button-container
{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 3px 3px;
}

#submit
{
    width: var(--max-width-element);
    height: 32px;
    border-color: var(--additionalColor);
    background-color: var(--additionalColor);
    font-family: inherit;
    font-size: inherit;
}

footer
{
    font-family: var(--font);
    text-align: center;
}

@media (min-width: 320px) 
{
    .form-section__container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 360px) 
{
    .field-container
    {
        flex-direction: row;
        justify-content: space-between;
    }
}